.*.swp
*~
/src/gollery/conf/app.conf
/bin
/pkg
/src/gollery/ui/.sass-cache
/src/gollery/ui-build
/src/gollery/static
/src/gollery/app/routes
/src/gollery/app/tmp
/src/code.google.com
/src/github.com
/node_modules
/build/out
