$top-bar-size: 3em;

// This matches what the server generates
$thumbnail-size: 200px;

$color-background: #0D1C1C;
$color-top-bar: #343838;
$color-text: #fff;
$color-accent: #CBE86B;
$color-secondary: #F2E9E1;

$font-size-base: 14pt;
$font-size-large: 20pt;
$letter-spacing-large: .2em;
