@import "variables";

.album-frame {
	position: relative;
	display: inline-block;
	width: $thumbnail-size;
	height: $thumbnail-size;
	margin: 0.1em;
	border: none;
	padding: 0;
	text-align: center;
	overflow: hidden;
}

.album-frame-inner {
	width: inherit;
	height: inherit;
	vertical-align: middle;
	display: table-cell;
	clear: right;
}

.album-frame-inner img {
	min-height: $thumbnail-size;
	min-width: $thumbnail-size;
	position: absolute;
	left: 0px;
	top: 0px;
}

.album-frame-title, .album-frame-title :visited {
	position: absolute;
	left: 0px;
	bottom: .5em;
	width: $thumbnail-size;
	vertical-align: bottom;
	display: table-cell;
	color: $color-text;
	text-shadow: black .1em .1em 1px;
}
