.album-frame {
	float: left;
	width: 220px;
	height: 220px;
	margin: 1%;
	border: 1px solid black;
	padding: 0;
	background-color: white;
	text-align: center;
	margin-bottom: 2em;
}

.album-frame-inner {
	width: inherit;
	height: inherit;
	vertical-align: middle;
	display: table-cell;
	clear: right;
}

.album-frame-title {
	display: block;
	margin-top: .5em;
}
