@import "compass/css3";
@import "compass/reset";
@import "flipper";
@import "mixins";
@import "variables";

body {
	margin: 0;

	@include respond-to('tablet') {
		font-size: 200%;
	}

	/* Smartphones ? */
	@include respond-to('smartphone') {
		font-size: 200%;
	}

	@include respond-to('hidpi') {
		font-size: 300%;
	}
}

div {
	-webkit-overflow-scrolling: touch;
}

.ui-pane {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	@include single-transition("transform", .5s);
}

.ui-mode-album-list {
	#pane-album-list {
		@include translateX(0px);
	}

	#pane-browser {
		@include translateX(100%);
	}

	#pane-viewer {
		@include translateX(100%);
	}

	#top-bar-album-list {
		@include translateX(0px);
	}

	#top-bar-browser {
		@include translateX(100%);
	}
}

.ui-mode-browser {
	#pane-album-list {
		@include translateX(-100%);
	}

	#pane-browser {
		@include translateX(0px);
	}

	#pane-viewer {
		@include translateX(100%);
	}

	#top-bar-album-list {
		@include translateX(-100%);
	}

	#top-bar-browser {
		@include translateX(0);
	}
}

.ui-mode-viewer {
	#top-bar {
		@include translateY(-$top-bar-size);
	}

	#pane-album-list {
		@include translateX(-100%);
	}

	#pane-browser {
		@include translateX(-100%);
	}

	#pane-viewer {
		@include translateX(0px);
	}

	#top-bar-album-list {
		@include translateX(-100%);
	}

	#top-bar-browser {
		@include translateX(-100%);
	}
}


#album-list-container {
	margin-top: $top-bar-size;
	width: 100%;
	height: 100%;
	overflow: auto;
}
