@import "compass/css3";
@import "compass/reset";
@import "flipper";
@import "mixins";
@import "variables";

@include font-face(
	'web-symbols',
	font-files( // FIXME: Add woff2 once Compass 0.13 is released
		'/images/websymbols-regular-webfont.woff',
		'/images/websymbols-regular-webfont.ttf',
		'/images/websymbols-regular-webfont.svg'
	),
	'/images/websymbols-regular-webfont.eot'
);

body {
	margin: 0;

	@include respond-to('tablet') {
		font-size: 200%;
	}

	/* Smartphones ? */
	@include respond-to('smartphone') {
		font-size: 200%;
	}

	@include respond-to('hidpi') {
		font-size: 300%;
	}

	font-family: sans-serif;
	font-size: $font-size-base;

	color: $color-text;
}

a, a:visited {
	text-decoration: none;
	color: $color-text;
}

i {
	font-family: 'web-symbols';
}

div {
	-webkit-overflow-scrolling: touch;
}

#content {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

.ui-pane {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	background-color: $color-background;
	@include single-transition("transform", .5s);
}

.ui-mode-album-list {
	#pane-album-list {
		@include translateX(0px);
	}

	#pane-browser {
		@include translateX(100%);
	}

	#pane-viewer {
		@include translateX(100%);
	}

	#top-bar-album-list {
		@include translateX(0px);
	}

	#top-bar-browser {
		@include translateX(100%);
	}
}

.ui-mode-browser {
	#pane-album-list {
		@include translateX(-100%);
	}

	#pane-browser {
		@include translateX(0px);
	}

	#pane-viewer {
		@include translateX(100%);
	}

	#top-bar-album-list {
		@include translateX(-100%);
	}

	#top-bar-browser {
		@include translateX(0);
	}
}

.ui-mode-viewer {
	#top-bar {
		@include translateY(-$top-bar-size);
	}

	#pane-album-list {
		@include translateX(-100%);
	}

	#pane-browser {
		@include translateX(-100%);
	}

	#pane-viewer {
		@include translateX(0px);
	}

	#top-bar-album-list {
		@include translateX(-100%);
	}

	#top-bar-browser {
		@include translateX(-100%);
	}
}


#album-list-container {
	margin-top: $top-bar-size;
	padding-top: .1em;
	width: 100%;
	height: 100%;
	overflow: auto;
}
