@import "compass/css3";
@import "compass/reset";
@import "flipper";
@import "mixins";
@import "variables";

body {
	margin: 0;

	@include respond-to('tablet') {
		font-size: 200%;
	}

	/* Smartphones ? */
	@include respond-to('smartphone') {
		font-size: 200%;
	}

	@include respond-to('hidpi') {
		font-size: 300%;
	}
}

div {
	-webkit-overflow-scrolling: touch;
}

.album-frame {
	float: left;
	width: 220px;
	height: 220px;
	margin: 1%;
	border: 1px solid black;
	padding: 0;
	background-color: white;
	text-align: center;
	margin-bottom: 2em;
}

.album-frame-inner {
	width: inherit;
	height: inherit;
	vertical-align: middle;
	display: table-cell;
	clear: right;
}

.album-frame-title {
	display: block;
	margin-top: .5em;
}

.picture-frame {
	float: left;
	width: 220px;
	height: 220px;
	margin: 1%;
	border: 1px solid black;
	padding: 0;
	background-color: white;
}

.picture-frame-inner {
	width: inherit;
	height: inherit;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.ui-pane {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	@include single-transition("transform", .5s);
}

.ui-mode-album-list {
	#pane-album-list {
		@include translateX(0px);
	}

	#pane-browser {
		@include translateX(100%);
	}

	#pane-viewer {
		@include translateX(100%);
	}

	#top-bar-album-list {
		@include translateX(0px);
	}

	#top-bar-browser {
		@include translateX(100%);
	}
}

.ui-mode-browser {
	#pane-album-list {
		@include translateX(-100%);
	}

	#pane-browser {
		@include translateX(0px);
	}

	#pane-viewer {
		@include translateX(100%);
	}

	#top-bar-album-list {
		@include translateX(-100%);
	}

	#top-bar-browser {
		@include translateX(0);
	}
}

.ui-mode-viewer {
	#pane-album-list {
		@include translateX(-100%);
	}

	#pane-browser {
		@include translateX(-100%);
	}

	#pane-viewer {
		@include translateX(0px);
	}

	#top-bar-album-list {
		@include translateX(-100%);
	}

	#top-bar-browser {
		@include translateX(-100%);
	}
}

#viewer {
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}

#viewer-inner {
	width: inherit;
	height: inherit;
	max-width: 100%;
	max-height: 100%;
	display: block;
	text-align: center;
}

#viewer-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#viewer-toolbar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2em;
	display: table;
}

#viewer-toolbar > div.viewer-toolbar-autohide {
	@include translateY(2em);
	@include single-transition("transform", .5s, ease, 1s);
}

#viewer-toolbar:hover > div {
	@include translateY(0px);
	@include single-transition("transform", .5s, ease, 0s);
}
.viewer-toolbar-force-show {
	@include translateY(0px);
}

#viewer-toolbar-inner {
	background-color: rgba(0, 0, 0, .7);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.viewer-button {
	height: 80%;
	min-width: 2em;
}

#viewer-quit-button {
	float: left;
}

#viewer-fullscreen-button {
	/* Hidden by default as not all browsers support it */
	display: none;
	float: right;
}

#info-window {
	position: absolute;
	top: 15%;
	right: 15%;
	bottom: 15%;
	left: 15%;

	background-color: white;
	box-shadow: 5px 5px 20px;

	@include translateY(-150%);
	@include single-transition("transform", .5s);

	padding: 1em;
	overflow: auto;
}

#info-window.show-info {
	@include translateY(0px);
}

#info-window h2 {
	font-size: x-large;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

#info-window h3 {
	font-size: large;
	font-weight: bold;
}

#info-window table {
	margin-top: .5em;
}

#info-window td {
	padding-bottom: .5em;
	padding-right: 1em;
}

#info-window-close {
	position: absolute;
	top: 1em;
	right: 1em;
}

#loading-screen {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	@include single-transition(opacity, 1s);
}

#loading-screen.loading {
	opacity: .8;
}

#loading-screen > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-weight: bold;
}

#oops-screen {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #00f;
	color: white;
	font-family: courier;
}

#oops-screen > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#oops-screen h3 {
	display: inline-block;
	background-color: #aaaaaa;
	color: blue;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 2em;
}

#oops-screen p {
	margin-bottom: 1em;
	text-align: left;
	margin-left: 25%;
	width: 50%;
}

#top-bar {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: $top-bar-size;
	background-color: black;
	@include single-transition("transform", .5s);
}

#top-bar > div {
	@include single-transition("transform", .5s);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.ui-mode-viewer {
	#top-bar {
		@include translateY(-$top-bar-size);
	}
}

#top-bar-album-list {
	position: relative;
	text-align: center;
	font-size: 1em;
	color: white;
	display: table;
}

#top-bar-album-list > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#top-bar-album-list-info {
	position: absolute;
	top: 10%;
	right: 1em;
	bottom: 10%;
}

#top-bar-browser {
	display: table;
}

#top-bar-browser > div {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 1em;
	color: white;
}

#top-bar-browser-back-button {
	position: absolute;
	left: 1em;
	top: 10%;
	bottom: 10%;
}

#browser-content {
	position: fixed;
	top: $top-bar-size;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: visible;
}

#browser-content-flipper {
	width: 100%;
	height: 100%;
}

#album-list-container {
	margin-top: $top-bar-size;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#browser-toolbar {
	position: absolute;
	right: 2em;
	bottom: 1em;
	@include translateZ(1px); /* Makes it appear on top of thumbs on iPad */
}

.browser-pane {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin-left: inherit;
	overflow: hidden;
}

#picture-list {
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
}

.browser-map-icon {
	position: relative;
}

.browser-map-icon img {
	position: absolute;
	left: 0px;
	top: 0px;

	max-height: 48px;
	max-width: 48px;
	clip: rect(0px, 48px, 48px, 0px);
}

.browser-no-album {
	#browser-toolbar {
		display: none;
	}
}

#browser-map-view {
	width: 100%;
	height: 100%;
}

#browser-map-view-no-map {
	width: 100%;
	height: 100%;
	display: none;
}

#browser-map-view-no-map-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.browser-no-map {
	#browser-map-view {
		display: none;
	}

	#browser-map-view-no-map {
		display: table;
	}
}
