@import "compass/css3";
@import "variables";

#browser-content {
	position: fixed;
	top: $top-bar-size;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: visible;
}

#browser-content-flipper {
	width: 100%;
	height: 100%;
}

.browser-pane {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin-left: inherit;
	overflow: hidden;
}

#browser-toolbar {
	position: absolute;
	right: 2em;
	bottom: 1em;
	@include translateZ(1px); /* Makes it appear on top of thumbs on iPad */
}

#browser-picture-list-pane {
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
}

.browser-map-icon {
	position: relative;
}

.browser-map-icon img {
	position: absolute;
	left: 0px;
	top: 0px;

	max-height: 48px;
	max-width: 48px;
	clip: rect(0px, 48px, 48px, 0px);
}

.browser-no-album {
	#browser-toolbar {
		display: none;
	}
}

#browser-map-view {
	width: 100%;
	height: 100%;
}

#browser-map-view-no-map {
	width: 100%;
	height: 100%;
	display: none;
}

#browser-map-view-no-map-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.browser-no-map {
	#browser-map-view {
		display: none;
	}

	#browser-map-view-no-map {
		display: table;
	}
}
