.picture-frame {
	float: left;
	width: 220px;
	height: 220px;
	margin: 1%;
	border: 1px solid black;
	padding: 0;
	background-color: white;
}

.picture-frame-inner {
	width: inherit;
	height: inherit;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
