@import "compass/css3";

.picture-frame {
	display: inline-block;
	width: 220px;
	height: 220px;
	margin: 0;
	padding: 0;
	position: relative;
}

.picture-frame-inner {
	position: absolute;
	left: 50%;
	top: 50%;
	@include translate(-50%, -50%);
}

.picture-frame-inner img {
	@include box-shadow(black .2em .2em 4px);
}
