/* line 9, ../sass/desktop.scss */
#sidebar {
  background-color: #AAAAAA;
  width: 200px;
  height: 100%;
  position: fixed;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: "transform" 1s; }
  @media (min-resolution: 200dpi) {
    /* line 9, ../sass/desktop.scss */
    #sidebar {
      width: 600px; } }

/* line 21, ../sass/desktop.scss */
#content {
  height: 100%;
  overflow: scroll;
  margin-left: 200px;
  -webkit-transition: "margin-left" 1s;
  -moz-transition: "margin-left" 1s;
  -o-transition: "margin-left" 1s;
  transition: "margin-left" 1s; }
  @media (min-resolution: 200dpi) {
    /* line 21, ../sass/desktop.scss */
    #content {
      margin-left: 600px; } }

/* line 34, ../sass/desktop.scss */
#sidebar-toggle-box {
  position: absolute;
  top: 0;
  width: inherit;
  text-align: right; }

/* line 41, ../sass/desktop.scss */
#sidebar-toggle-button {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: "transform" 1s; }

/* line 45, ../sass/desktop.scss */
#album-list-container {
  width: 100%;
  height: 100%;
  overflow: scroll; }

/* line 52, ../sass/desktop.scss */
.sidebar-toggled #sidebar {
  -webkit-transform: translateX(-160px);
  -moz-transform: translateX(-160px);
  -ms-transform: translateX(-160px);
  -o-transform: translateX(-160px);
  transform: translateX(-160px); }
  @media (min-resolution: 200dpi) {
    /* line 52, ../sass/desktop.scss */
    .sidebar-toggled #sidebar {
      -webkit-transform: translateX(-520px);
      -moz-transform: translateX(-520px);
      -ms-transform: translateX(-520px);
      -o-transform: translateX(-520px);
      transform: translateX(-520px); } }
/* line 60, ../sass/desktop.scss */
.sidebar-toggled #content {
  margin-left: 40px; }
  @media (min-resolution: 200dpi) {
    /* line 60, ../sass/desktop.scss */
    .sidebar-toggled #content {
      margin-left: 80px; } }
/* line 68, ../sass/desktop.scss */
.sidebar-toggled #sidebar-toggle-button {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
