@import "compass/css3";
@import "compass/reset";
@import "flipper";
@import "mixins";

body {
	margin: 0;

	@include respond-to('tablet') {
		font-size: 200%;
	}

	/* Smartphones ? */
	@include respond-to('smartphone') {
		font-size: 200%;
	}

	@include respond-to('hidpi') {
		font-size: 300%;
	}
}

div {
	-webkit-overflow-scrolling: touch;
}

.album-frame {
	float: left;
	width: 220px;
	height: 220px;
	margin: 1%;
	border: 1px solid black;
	padding: 0;
	background-color: white;
	text-align: center;
	margin-bottom: 2em;
}

.album-frame-inner {
	width: inherit;
	height: inherit;
	vertical-align: middle;
	display: table-cell;
	clear: right;
}

.album-frame-title {
	display: block;
	margin-top: .5em;
}

.picture-frame {
	float: left;
	width: 220px;
	height: 220px;
	margin: 1%;
	border: 1px solid black;
	padding: 0;
	background-color: white;
}

.picture-frame-inner {
	width: inherit;
	height: inherit;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.ui-pane {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	@include single-transition("transform", .5s);
}

.ui-mode-album-list {
	#pane-album-list {
		@include translateX(0px);
	}

	#pane-browser {
		@include translateX(100%);
	}

	#pane-viewer {
		@include translateX(100%);
	}

	#top-bar-album-list {
		@include translateX(0px);
	}

	#top-bar-browser {
		@include translateX(100%);
	}
}

.ui-mode-browser {
	#pane-album-list {
		@include translateX(-100%);
	}

	#pane-browser {
		@include translateX(0px);
	}

	#pane-viewer {
		@include translateX(100%);
	}

	#top-bar-album-list {
		@include translateX(-100%);
	}

	#top-bar-browser {
		@include translateX(0);
	}
}

.ui-mode-viewer {
	#pane-album-list {
		@include translateX(-100%);
	}

	#pane-browser {
		@include translateX(-100%);
	}

	#pane-viewer {
		@include translateX(0px);
	}

	#top-bar-album-list {
		@include translateX(-100%);
	}

	#top-bar-browser {
		@include translateX(-100%);
	}
}

#viewer {
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}

#viewer-inner {
	width: inherit;
	height: inherit;
	max-width: 100%;
	max-height: 100%;
	display: block;
	text-align: center;
}

#viewer-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#viewer-toolbar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2em;
	display: table;
}

#viewer-toolbar > div.viewer-toolbar-autohide {
	@include translateY(2em);
	@include single-transition("transform", .5s, ease, 1s);
}

#viewer-toolbar:hover > div {
	@include translateY(0px);
	@include single-transition("transform", .5s, ease, 0s);
}
.viewer-toolbar-force-show {
	@include translateY(0px);
}

#viewer-toolbar-inner {
	background-color: rgba(0, 0, 0, .7);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.viewer-button {
	height: 80%;
	min-width: 2em;
}

#viewer-quit-button {
	float: left;
}

#viewer-fullscreen-button {
	/* Hidden by default as not all browsers support it */
	display: none;
	float: right;
}

#info-window {
	position: absolute;
	top: 15%;
	right: 15%;
	bottom: 15%;
	left: 15%;

	background-color: white;
	box-shadow: 5px 5px 20px;

	@include translateY(-150%);
	@include single-transition("transform", .5s);

	padding: 1em;
	overflow: auto;
}

#info-window.show-info {
	@include translateY(0px);
}

#info-window h2 {
	font-size: x-large;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

#info-window h3 {
	font-size: large;
	font-weight: bold;
}

#info-window table {
	margin-top: .5em;
}

#info-window td {
	padding-bottom: .5em;
	padding-right: 1em;
}

#info-window-close {
	position: absolute;
	top: 1em;
	right: 1em;
}

#loading-screen {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	@include single-transition(opacity, 1s);
}

#loading-screen.loading {
	opacity: .8;
}

#loading-screen > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-weight: bold;
}
