@import "compass/css3";
@import "mixins";

$sidebar_size_normal: 200px;
$sidebar_peek_normal: 40px;
$sidebar_size_hidpi: 600px;
$sidebar_peek_hidpi: 80px;

#sidebar {
	background-color: #AAAAAA;
	width: $sidebar_size_normal;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	@include single-transition("transform", 1s);

	@include respond-to('hidpi') {
		width: $sidebar_size_hidpi;
	}
}

#content {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;

	margin-left: $sidebar_size_normal;

	@include respond-to('hidpi') {
		margin-left: $sidebar_size_hidpi;
	}

	@include single-transition("margin-left", 1s);
}

#sidebar-toggle-box {
	position: absolute;
	top: 0;
	width: inherit;
	text-align: right;
}

#sidebar-toggle-button {
	@include single-transition("transform", 1s);
}

#album-list-container {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.sidebar-toggled {
	#sidebar {
		@include translateX(-$sidebar_size_normal + $sidebar_peek_normal);

		@include respond-to('hidpi') {
			@include translateX(-$sidebar_size_hidpi + $sidebar_peek_hidpi);
		}
	}

	#content {
		margin-left: $sidebar_peek_normal;

		@include respond-to('hidpi') {
			margin-left: $sidebar_peek_hidpi;
		}
	}

	#sidebar-toggle-button {
		@include rotateZ(180deg);
	}
}

#browser-toolbar {
	position: fixed;
	right: 2em;
	bottom: 1em;
	@include translateZ(1px); /* Makes it appear on top of thumbs on iPad */
}

.browser-pane {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin-left: inherit;
	overflow: hidden;
}

$browser_pane_rotate_duration: 0.2s;

#picture-list-pane {
	@include rotateX(0deg);
	@include single-transition("transform", $browser_pane_rotate_duration, ease, $browser_pane_rotate_duration);
}

#map-view-pane {
	@include rotateX(90deg);
	@include single-transition("transform", 0.2s, ease, 0.0s);
}

.browser-map-view {
	#picture-list-pane {
		@include rotateX(-90deg);
		@include single-transition("transform", 0.2s, ease, 0.0s);
	}

	#map-view-pane {
		@include rotateX(0deg);
		@include single-transition("transform", 0.2s, ease, 0.2s);
	}
}

#picture-list {
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
}

.browser-map-icon {
	position: relative;
}

.browser-map-icon img {
	position: absolute;
	left: 0px;
	top: 0px;

	max-height: 48px;
	max-width: 48px;
	clip: rect(0px, 48px, 48px, 0px);
}

.browser-no-album {
	#browser-toolbar {
		display: none;
	}
}

#map-view {
	width: 100%;
	height: 100%;
}

#map-view-no-map {
	width: 100%;
	height: 100%;
	display: none;
}

#map-view-no-map-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.browser-no-map {
	#map-view {
		display: none;
	}

	#map-view-no-map {
		display: table;
	}
}
