@import "compass/css3";
@import "mixins";

$sidebar_size_normal: 200px;
$sidebar_peek_normal: 40px;
$sidebar_size_hidpi: 600px;
$sidebar_peek_hidpi: 80px;

#sidebar {
	background-color: #AAAAAA;
	width: $sidebar_size_normal;
	height: 100%;
	position: fixed;
	@include single-transition("transform", 1s);

	@include respond-to('hidpi') {
		width: $sidebar_size_hidpi;
	}
}

#content {
	height: 100%;
	overflow: scroll;

	margin-left: $sidebar_size_normal;

	@include respond-to('hidpi') {
		margin-left: $sidebar_size_hidpi;
	}

	@include single-transition("margin-left", 1s);
}

#sidebar-hide-box {
	position: absolute;
	top: 0;
	width: inherit;
	text-align: right;
}

#sidebar-hide-button {
	@include single-transition("transform", 1s);
}

#album-list-container {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.sidebar-hidden {
	#sidebar {
		@include translateX(-$sidebar_size_normal + $sidebar_peek_normal);

		@include respond-to('hidpi') {
			@include translateX(-$sidebar_size_hidpi + $sidebar_peek_hidpi);
		}
	}

	#content {
		margin-left: $sidebar_peek_normal;

		@include respond-to('hidpi') {
			margin-left: $sidebar_peek_hidpi;
		}
	}

	#sidebar-hide-button {
		@include rotateZ(180deg);
	}
}
