@import "compass/css3";

#sidebar {
	background-color: #00BB00;
	width: 100%;
	position: absolute;
	@include translateY(calc(-100% + 2em));
	@include translateY(-moz-calc(-100% + 2em));
	@include single-transition("transform", 1s);
	padding-bottom: 2em;
	height: 80%;
	overflow: clip;
}

#pane-main {
	overflow: scroll;
}

#content {
	padding-top: 2em;
	margin-left: 0px;
}

#sidebar-hide-box {
	position: absolute;
	top: calc(100% - 2em);
	top: -moz-calc(100% - 2em);
}

#sidebar-hide-button {
	@include rotateZ(-90deg);
	@include single-transition("transform", 1s);
}

#album-list-container {
	height: calc(100% - 2em);
	height: -moz-calc(100% - 2em);
	overflow: scroll;
}

/* actually "shown" on mobile... */
.sidebar-hidden {
	#sidebar {
		@include translateY(0px);
	}

	#sidebar-hide-button {
		@include rotateZ(90deg);
	}
}
